@font-face {
    font-family: 'Raleway';
    src: url('assets/font/Raleway-VariableFont_wght.ttf') format('woff2'),
}

body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.container {
    display: flex;
}

.index-wrap {
    flex-wrap: wrap;
    justify-content: center;
}

.inline {
    display: inline;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    justify-content: space-between;
    margin-top: 0;
    height: 10vh;
    width: 100%;
    background-color: #fbeb99;
}

.nav-right {
    display: inline-flex;
    align-items: center;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-right > a {
    margin: auto 4vw;
}

#shopping-bag {
    height: 100%;
}

.slogan {
    text-align: center;
    font-size: 3.5em;
}

#c1 {
    justify-content: space-around;
    padding: 4vh 1vw;
}

.item {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-around;
    width: 16vw;
    padding: 1vh 4%;
    margin: 3vh 4vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info {
    text-align: center;
}

.info > h3 {
    font-size: 2em;
}

.info > p {
    font-size: 1.3em;
    font-weight: bold;
}

/*arsenal page*/

.precise-item  {
    padding: 2vh 10vw;
    font-size: 2.5em;
    justify-content: center;
}
.precise-item > img {
    max-width: 40%;
    max-height: 55vh;
}
.precise-item > div {
    width: 30vw;
}
.color-block {
    border: solid 0.1em #fbeb99;
    width: 2.5vw;
    height: 2.5vw;
    background-color: black;
}

.description {
    font-size: 1.5em;
    padding: 2% 10%;
    background-color: #fbeb99;
    color: black;
}

.description > h4 {
    font-size: 1.7em;
}

#buy {
    height: 6vh;
    width: 14vw;
    background-color: #fbeb99;
    border-radius: 25px;
    border-color: white;
    box-shadow: none;
    font-size: 0.5em;
    font-weight: bold;
}

/*pannier page*/

.panier-container {
    padding: 5% 10%;
    display: flex;
    flex-direction: row;
}

.panier-container > #empty-cart {
    display: none;
}

.panier-container > #buy-wrapper, .article-side > div {
    display: flex;
}

.article-side {
    display: flex;
    flex-direction: column;
    width: 70%;
    border: solid 3px black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: hidden;
    border-right: none;
    border-bottom: none;
}

.data-form {
    margin: -18vh 20vw;
    display: none;
    position: fixed;
    flex-direction: column;
    width: 30vw;
    padding: 2%;
    justify-content: center;
    font-size: 1.35em;
    max-height: 80vh;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: #fbeb99;
}

.data-form > img {
    max-height: 20vh;
    object-fit: scale-down;
}

.panier-item {
    display: flex;
    font-size: 1.8em;
    border-bottom: solid 3px;
}

.panier-item > img {
    max-width: 25%;
    height: 15vw;
    margin-left: 5%;
    display: inline;
}

.panier-item > div {
    margin-left: 10%;
    display: inline;
    font-weight: bold;
}

.panier-item > div > p {
    margin: 6%;
}
/* .panier-item > div > .cart-item-title {
    font-weight: bold;
} */

.buy-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* padding: 10%; */
    width: 30%;
    overflow: hidden;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #fbeb99;
    border: solid 3px black;
}

.buy-container > h3 {
    margin: 2%;
    text-align: center;
    font-size: 2em;
}

.buy-container > button {
    margin: 10% 20%;
    color: #fbeb99;
    font-size: 1.5em;
    font-weight: bold;
    background-color: black;
    height: 20%;
    max-height: 7vh;
    border-radius: 40px;
}

.buy-container > button:hover {
    color: grey;
    background-color: black;
}

.quantity-selector {
    padding: 0;
    margin: 3%;
}
.quantity-selector > img, .quantity-selector > button {
    max-width: 4em;
    max-height: 100%;
    background-color: transparent;
    border: none;
}

#empty-cart {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#empty-cart > img {
    max-width: 20%;
    max-height: 25%;
}
footer {
    text-align: center;
    padding: 0;
    margin: 0;
    min-height: 3vh;
    background-color: #fbeb99;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .slogan {
        font-size: 3.3em;
    }
    #c1 {
        flex-direction: column;
        justify-content: center;
    }
    #acceuil {
        display: none;
    }
    #articles {
        flex-direction: column;
    }
    .item {
        width: 95%;
        max-width: 75vw;
    }
    .precise-item {
        display: flex;
        flex-direction: column;
    }
    .precise-item > img {
        max-width: 100%;
        width: 100%;
    }
    .precise-item > div {
        width: 100%;
    }
    #color-wrapper {
        display: none;
    }
    #buy {
        width: 100%;
    }
    .description {
        padding: 2% 12%;
    }
    /* cart page */
    .panier-container {
        flex-direction: column;
        padding: 10%;
    }
    .article-side {
        overflow: hidden;
        width: 100%;
        border: solid 3px black;
        border-bottom: none;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 0px;
    }
    #mug-shop-logo-cart {
        display: none;
    }
    .buy-container {
        flex-direction: column;
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 0px;
        border-top: none;
        padding-top: 5%;
    }
    .panier-item {
        flex-direction: column;
        font-size: 1.5em;
        justify-content: center;
    }
    .panier-item > img {
        max-width: 100%;
        height: auto;
    }
    .cart-item-title {
        font-size: 1.6em;
    }
    .data-form {
        margin: auto 10vw;
        width: auto;
    }
    #cart-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
  }